<form id={{id}}>
  {{#if register}}
	<label {{dataTagPrefix}}-display-name for="display-name">{{displayName}}</label>
	<input id="{{id}}-display-name" type="text" value="" />
	<label {{dataTagPrefix}}-error-display-name hidden>{{missingDisplayName}}</label>
	</br>
  {{/if}}
  <label {{dataTagPrefix}}-email for="email">{{email}}</label>
  <input id="{{id}}-email" type="text" value="" />
  <label {{dataTagPrefix}}-error-email hidden>{{missingEmail}}</label>
  </br>
  <label {{dataTagPrefix}}-password for="password">{{password}}</label>
  <input id="{{id}}-password" type="password" value="" />
  <label {{dataTagPrefix}}-error-password hidden>{{missingPassword}}</label>
  </br>
  <input id="{{id}}-submit" type="submit" value="{{submit}}"
  </br>
  <label {{dataTagPrefix}}-error hidden>{{submitError}}</label>
  {{#unless register}}
	<input id="{{id}}-register" type="submit" value="{{registerButton}}"
  {{/unless}}
  </br>
</form>
